
/* NO BEM  */
.card {

}

.heading {

}

.desc {

}

.btn {

}



/* BEM  */

.card {

}

.card--success {

}

.card--error {

}

.card__heading {

}

.card__desc {

}

.card__btn {

}

.card__heading {

}

.card__desc {

}

.card__btn {

}

/* 3 BUTTON */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* font-family: "Helvetica Neue"; */
}


/* BLOCK */
body > div {
    margin: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    min-width: 120px;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity ease .2s;
}
.btn--size-s {
    padding: 8px 32px;
}

.btn--size-l {
    padding: 16px 56px;
}

.btn:hover {
    opacity: 0.8;
    
}

.btn + .btn {
    margin-left: 16px;

}

.btn--success {
    background-color: rgb(46, 253, 91);

}

.btn--warn {
    background-color: rgb(239, 251, 62);

}

.btn--danger {
    background-color: rgb(240, 106, 73);
}


.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}