
/* REST CSS */
* {
    margin: 0;
    padding: 0;
    /* không làm thay đổi width và height ban đầu khi padding hoặc border */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, Arial , sans-serif;
    /* animation scroll lăn xuống mượt hơn */
    scroll-behavior: smooth;
}


/* DECLARE VARIABLE */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}


/* BASE */
.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.btn {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    -webkit-appearance: none;

}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}